<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Change Password</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    
    <body>

        <div ng-app="myApp" ng-controller="myCtrl">
            <input type="text" ng-model="accessToken" placeholder="accessToken"/><br/>
            <input type="text" ng-model="email" placeholder="email"/><br/>
            <input type="text" ng-model="oldPassword" placeholder="Enter Old Password"/><br/>
            <input type="text" ng-model="newPassword" placeholder="Enter New Password"/><br/>
            <input type="text" ng-model="confirmNewPassword" placeholder="Re-enter New Password"/><br/>
            
            <input type="button" value="Submit" ng-click="changePW()" />
            <p>{{result}}</p>
        </div>

        <script>

            var app = angular.module("myApp", []);

            app.controller("myCtrl", function ($scope, $http) {
                $scope.changePW = function () {
                    //$scope.email="trtre";
                    $http({
                        url: "ChangePWServlet",
                        method: "POST",
                        data: {'accessToken': $scope.accessToken, 'email': $scope.email, 'oldPassword': $scope.oldPassword, 'newPassword': $scope.newPassword, 'confirmNewPassword': $scope.confirmNewPassword},
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}
                    }).then(function (response) { // handle success
                        $scope.result = response.data;
                    }, function (response) { // handle error
                        $scope.result = response.status + " " + response.statusText;
                    });
                };
            });

        </script>
</html>
