<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Forget Password</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    
    <body>

        <div ng-app="myApp" ng-controller="myCtrl">
            <input type="text" ng-model="email" placeholder="Enter Email Address"/><br/>
            
            <input type="button" value="Submit" ng-click="forgetPW()" />
            <p>{{result}}</p>
        </div>

        <script>

            var app = angular.module("myApp", []);

            app.controller("myCtrl", function ($scope, $http) {
                $scope.forgetPW = function () {
                    //$scope.email="trtre";
                    $http({
                        url: "ForgetPWServlet",
                        method: "POST",
                        data: {'email': $scope.email},
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}
                    }).then(function (response) { // handle success
                        $scope.result = response.data;
                    }, function (response) { // handle error
                        $scope.result = response.status + " " + response.statusText;
                    });
                };
            });

        </script>
</html>
