<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    
    <body>

        <div ng-app="myApp" ng-controller="myCtrl">
            <input type="text" ng-model="email" placeholder="Email"/>
            <input type="text" ng-model="passWord" placeholder="Password"/>
            <br/>
            <input type="button" value="Login" ng-click="login()" />
            <p>{{result}}</p>
        </div>

        <script>

            var app = angular.module("myApp", []);

            app.controller("myCtrl", function ($scope, $http) {
                $scope.login = function () {
                    //$scope.email="trtre";
                    $http({
                        url: "LoginServlet",
                        method: "POST",
                        data: {'email': $scope.email, 'passWord': $scope.passWord},
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}
                    }).then(function (response) { // handle success
                        $scope.result = response.data;
                    }, function (response) { // handle error
                        $scope.result = response.status + " " + response.statusText;
                    });
                };
            });

        </script>
    </body>
</html>