<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>

    <body>

        <div ng-app="myApp" ng-controller="registerCtrl">
            <input type="text" ng-model="email" placeholder="Email"/><br/>
            <input type="text" ng-model="name" placeholder="Name"/><br/>
            <input type="text" ng-model="passWord" placeholder="Password"/><br/>
            <input type="text" ng-model="passWord2" placeholder="Re-enter password"/><br/>
            <input type="date" ng-model="DOB" placeholder="DOB"/><br/>
            <input type="text" ng-model="faculty" placeholder="Faculty"/><br/>
            <input type="text" ng-model="gender" placeholder="Gender"/><br/>

            <input type="button" value="Register" ng-click="register()" />
            <p>{{result}}</p>
        </div>

        <script>

            var app = angular.module("myApp", []);

            app.controller('registerCtrl', function ($scope, $http, $state, ionicToast) {
                var gender;

                if ($scope.gender == "Female") {
                    gender = "F";
                }

                if ($scope.gender == "Male") {
                    gender = "M";
                }

                $scope.register = function () {
                    $http({
                        url: "http://localhost:8084/Fitnexx6Server/RegisterServlet",
                        method: "POST",
                        data: {'email': $scope.email, 'name': $scope.name, 'passWord': $scope.passWord, 'passWord2': $scope.passWord2, 'DOB': $scope.DOB, 'faculty': $scope.faculty, 'gender': gender},
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}
                    }).then(function (response) { // handle success
                        var result = angular.fromJson(response.data);

                        if (result.status == "success") {
                            $scope.result = response.data;
                        }
                        else {
                            $scope.result = response.status + " " + response.statusText;
                        }
                    }, function (response) { // handle error
                        $scope.result = response.status + " " + response.statusText;
                    });
                }
            })

        </script>
</html>
