<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Scan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <input type="text" ng-model="email" placeholder="Email"/>
            <input type="text" ng-model="checkPointID" placeholder="checkPointID"/>
            <input type="text" ng-model="accessToken" placeholder="accessToken"/>
            <input type="text" ng-model="steps" placeholder="steps"/>
            <br/>
            <input type="button" value="scan" ng-click="scan()" />
            <p>{{result}}</p>
        </div>

        <script>

            var app = angular.module("myApp", []);

            app.controller("myCtrl", function ($scope, $http) {
                $scope.scan = function () {
                    //$scope.email="trtre";
                    $http({
                        url: "ScanServlet",
                        method: "POST",
                        data: {'accessToken': $scope.accessToken, 'email': $scope.email, 'checkPointID': $scope.checkPointID, 'steps': $scope.steps},
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}
                    }).then(function (response) { // handle success
                        $scope.result = response.data;
                    }, function (response) { // handle error
                        $scope.result = response.status + " " + response.statusText;
                    });
                };
            });

        </script>
    </body>
</html>
