<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <img data-ng-src="data:image/png;base64,{{image}}" />
            <br/>
            <input type="button" value="Login" ng-click="login()" />
            <p>{{result}}</p>
        </div>
        
        <script>

            var app = angular.module("myApp", []);

            app.controller("myCtrl", function ($scope, $http) {
                $scope.login = function () {
                    //$scope.email="trtre";
                    $http({
                        url: "ViewProfileServlet",
                        method: "POST",
                        data: {'accessToken': 'eyJhbGciOiJIUzI1NiIsImN0eSI6InRleHRcL3BsYWluIn0.SmVyZW15LnNlb3cuMjAxNEBzaXMuc211LmVkdS5zZw.mAqnWkopRQXKgfykvjJcsWWALo_wh3hH6mP27bfeIh8', 'email': 'Jeremy.seow.2014@sis.smu.edu.sg'},
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'}
                    }).then(function (response) { // handle success
                        $scope.result = response.data;
                        //var result = angular.fromJson(response.data);
                        //$scope.image = result.profilePic;
                        //$scope.result = "result " + result.age + " " + result.name;
                    }, function (response) { // handle error
                        $scope.result = "error " + response.status + " " + response.statusText;
                    });
                };
            });

        </script>
    </body>
</html>
