<ion-view id="Aboutus" class=" ">
	<ion-nav-title>
		<span style="font-size:110%"><b>About Us</b></span>
	</ion-nav-title>

	<ion-content padding="false" class="has-header" ng-app="app.controllers" ng-controller="aboutusCtrl">
		<div class="item item-text-wrap">
            <center>
			<b>Credits</b>
			<br/><br/>
			Profile Icons (Young Avatar Collection) made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>				is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a><br/><br/>
			Tier Icons made by Alvin Tan Yong Ming
            </center>
		</div>
	</ion-content>
</ion-view>