<ion-view id="missionDetails" class=" ">
  <ion-nav-title>
    <span style="font-size:110%"><b>New Mission</b></span>
  </ion-nav-title>

  <ion-nav-buttons side="left"></ion-nav-buttons>

  <ion-content ng-controller="acceptMissionDetailsCtrl">
      <!--This view is for mission details for CURRENT missions. MissionType=Steps and completed=0 !-->

    <div class="list list-inset">
      <div class="item item-text-wrap">
      <center>
        <font size="6"><b>
          &nbsp{{result.missionType}} Mission&nbsp
        </b></font>
      </center>
        <!--<center><b>&nbsp Mission ID : {{result.missionID}}</b></center>-->
        <center><b><font size="3" color="#FFC638">&nbsp{{result.points}}</font></b></center>
        </br>
        <center><p>&nbsp{{result.description}}</p></center>
      </div>


      <div ng-if="result.missionCount.length!=0">
        </br><center><b>Number of Missions Completed for Mission ID : {{result.missionID}}</b></center>
        </br>
        <center><b><h1>By Clan</h1></b></center>
        <nvd3 options="options" data="data"></nvd3>
      </div>

      <button class="button ion-ios-checkmark button-balanced button-block"
              ng-click="acceptMission()" /> Accept Mission</button>
      <button class="button ion-close-circled button-dark button-block"
              ng-click="declineMission()"/> Decline Mission</button>
    </div>
  </ion-content>
</ion-view>
