<ion-view id="changePassword" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Change Password</b></span>
    </ion-nav-title>

    <ion-content padding="true" class="has-header">
      <div ng-app="app.controllers" ng-controller="changePasswordCtrl">
        <form name="changePwForm" id="changePassword-form18" class="list">
            <label class="item item-input " id="changePassword-input29" name="Currentpass">
                <span class="input-label">Old password</span>
                <input name="currPass"type="password" placeholder="" ng-model="currentPass">
                <!--span ng-show="changepw.currPass.$touched">The name is required.</span-->
            </label>
            <div class="spacer" style="height: 40px;"></div>
            <ion-list id="changePassword-list15" class=" ">
                <label class="item item-input " id="changePassword-input27" name="Newpass">
                    <span class="input-label">New password</span>
                    <input name="npass" type="password" placeholder="8 or more alphanumeric" ng-model="newPass">
                </label>
                <label class="item item-input " id="changePassword-input28" name="Repass">
                    <span class="input-label">Confirm password</span>
                    <input name="rpass" type="password" placeholder="Retype password" ng-model="rePass">
                </label>
            </ion-list>

            <button id="changePassword-button33" class=" button button-positive  button-block" ng-click="changePW()">Change</button>
        </form>

      </div>

    </ion-content>
</ion-view>
