<ion-view id="editProfile" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Profile</b></span>
    </ion-nav-title>


    <ion-nav-buttons side="left"></ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form id="profile-form9" class="list ">

          <walkthrough
                wid="Demo4"
                is-round=true
                walkthrough-type="tip"
                focus-element-selector="focus-item"
                icon="img/walkthrough/walk.png"
                has-backdrop="true"
                has-glow="true"
                force-caption-location="BOTTOM"
                main-caption="Edit profile to get your B.M.I!"
                is-active="tutorialActive"
                use-button=true>
             </walkthrough>

          <label class="item item-input " align='center' id="profile-input22">
              <span class="input-label"> </span>
              <img id="imageToSwap" align='center' height="120" width="120" class="profile" src="{{profilePicture}}">
          </label>
          <label class="item item-input item-select" >
                  <div class="input-label ion-ios-body-outline"> &nbsp Profile Picture</div>
                  <select ng-model='profilePicture' align='center' onchange="$('#imageToSwap').attr('src', this.options[this.selectedIndex].value);">
                  <option value="img/profile/boy.png">Boy 1</option>
                  <option value="img/profile/boy-1.png">Boy 2</option>
                  <option value="img/profile/boy-2.png">Boy 3</option>
                  <option value="img/profile/boy-3.png">Boy 4</option>
                  <option value="img/profile/boy-4.png">Boy 5</option>
                  <option value="img/profile/boy-5.png">Boy 6</option>
                  <option value="img/profile/girl.png">Girl 1</option>
                  <option value="img/profile/girl-1.png">Girl 2</option>
                  <option value="img/profile/girl-2.png">Girl 3</option>
                  <option value="img/profile/girl-3.png">Girl 4</option>
                  <option value="img/profile/girl-4.png">Girl 5</option>
                  <option value="img/profile/girl-5.png">Girl 6</option>
               </select>
          </label>

            <label class="item item-input " id="profile-input18">
                <span class="input-label ion-arrow-graph-up-right"> &nbsp Height &nbsp : </span>
                <input type="text" placeholder="Height in Meters E.g. 1.68" ng-model="height">
            </label>

            <label class="item item-input " id="profile-input19">
                <span class="input-label ion-speedometer"> &nbsp Weight &nbsp : </span>
                <input type="text" placeholder="Weight in K.G" ng-model="weight"> </input>
            </label>

            <a  id="login-button11" class=" button button-balanced  button-block " ng-click="editProfile(height, weight, profilePicture)">Update Profile</a>
        </form>

    </ion-content>
</ion-view>
