<ion-view id="feedback" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Feedback</b></span>
    </ion-nav-title>

    <ion-content padding="false" class="has-header" ng-app="app.controllers" ng-controller="feedbackCtrl">
      <!-- <div class="applyPadding"></div>
      <div class="applyPadding"></div>
      <div class="applyPadding"></div>
      <div class="applyPadding"></div>

          <div class="bar bar-header bar-balanced">
            <a class="button button-icon icon ion-ios-people-outline"></a>
            <h1 class="title">Let us know!</h1>
            <a class="button button-icon icon ion-chatbubbles"></a>
          </div> -->

            <div class="list card " id="feedback-card22">

            <div class="item item-text-wrap">
                <b>Dear Beta Users,</b>
                <br/><br/>
                Leave us any feedback or comments below that helps to improve usability and fairness for everyone participating.
            </div>

            <!-- <ion-item class="item-avatar  " id="feedback-list-item5">
                <h2>Dear Beta Users,</h2>
                <p style="white-space:normal;">Leave us any feedback or comments below that helps to improve usability and fairness for everyone participating.</p>
            </ion-item> -->

            <div class="item item-body " id="feedback-list-item-container2">


              <form id="feedback-form16" class="list " >
                  <label class="item item-input item-select" >
                      <div class="input-label">Area of Concern</div>

                      <select ng-model='areaOfConcern' >
                          <option ng-selected="selected">Others</option>
                          <option>Suggestion</option>
                          <option>Technical Bug</option>
                      </select>
                  </label>

                  <label class="item item-input " id="feedback-input26"  >
                      <textarea name="box" type="text" placeholder="Your Feedback is much valued, let us know over here!" ng-model="feedback" rows="9" cols="25"> </textarea>
                  </label>

                  <a  id="login-button11" class=" button button-balanced  button-block " ng-click="submitFeedback()">Submit Feedback</a>
              </form>
            </div>
        </div>
    </ion-content>
</ion-view>
