<ion-view hide-nav-buttons="true" id="forgetPassword" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Forget Password</b></span>
    </ion-nav-title>

  <ion-nav-buttons side="left"></ion-nav-buttons>
    <ion-content padding="true" class="has-header">

        <div class="spacer" style="width: 300px; height: 33px;"></div>

        <p id="forgetPassword-markdown1" style="color:#000000;font-size:18px;" class=" ">Enter your email to reset your password</p>

        <form id="forgetPassword-form11" class="list " ng-app="app.controllers" ng-controller="forgetPasswordCtrl">
            <ion-list id="forgetPassword-list12" class=" ">
                <label class="item item-input " id="forgetPassword-input12">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="email" placeholder="example@np.edu.sg" >
                </label>
            </ion-list>
            <a id="forgetPassword-button28" class=" button button-positive  button-block " ng-click="forgetPW()">Submit</a>

        </form>
    </ion-content>
</ion-view>
