<ion-view id="progress" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Progress</b></span>
    </ion-nav-title>

    <walkthrough
          wid="Demo4"
          is-round=true
          walkthrough-type="tip"
          focus-element-selector="focus-item"
          icon="img/walkthrough/progress.png"
          has-backdrop="true"
          has-glow="true"
          force-caption-location="BOTTOM"
          main-caption="View Progress of steps taken!"
          is-active="tutorialActive"
          use-button=true>
       </walkthrough>

    <ion-content padding="true" class="has-header" ng-app="app.controllers" ng-controller="historyCtrl">
        <div id="history-button-bar4" class=" button-bar ">
            <a id="history-button13" class=" button button-stable  button-block "
            ng-click="stepsByDay('Day')" ng-class="{'button-positive': isActive('Day')}">Day</a>
            <a id="history-button14" class=" button button-stable  button-block "
            ng-click="stepsByWeek('Week')" ng-class="{'button-positive': isActive('Week')}">Week</a>
            <a id="history-button17" class=" button button-stable  button-block"
            ng-click="stepsByMonth('Month')" ng-class="{'button-positive': isActive('Month')}">Month</a>
        </div>
        <div class="">
        	<nvd3 options="options" data="data"></nvd3>
        </div>

    </ion-content>
</ion-view>
