<ion-view id="leaderboard" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Leaderboard</b></span>
    </ion-nav-title>

    <ion-content>

        <walkthrough
            wid="Demo4"
            is-round=true
            walkthrough-type="tip"
            focus-element-selector="focus-item"
            icon="img/walkthrough/leaderboard.png"
            has-backdrop="true"
            has-glow="true"
            force-caption-location="BOTTOM"
            main-caption="See where you stand!"
            is-active="tutorialActive"
            use-button=true>
         </walkthrough>

      <div class="item item-divider-positive">
        <div class="button-bar">
          <button ng-click="Student('student')" class="button button-stable"
          ng-class="{'button-positive': isActive('student')}">Student</button>
          <button ng-click="Clan('clan')" class="button button-stable"
          ng-class="{'button-positive': isActive('clan')}">Clan</button>
        </div>
      </div>

      <center ng-if="selected=='student'"></br><b>Leaderboard updates monthly</b></br></br></center>

      <center ng-repeat="c in clan" ng-if="selected=='clan' && adventureOn!='0' && c.inClan"></br><b>You're in {{c.clan}}</b></br></br></center>

      <ul class="list">
          <a class="item item-avatar avoid-clicks" ng-repeat="student in students" ng-if="selected=='student'">

            <img src="{{student.profilePic}}">

            <div class="moveRight">
              <h1 style="font-family: rounded_eleganceregular, Calibri, Georgia, serif">{{student.rank}}
                &nbsp
                <i class="icon ion-trophy gold-medal-icon" ng-if="$index==0"></i>
                <i class="icon ion-ribbon-a silver-medal-icon" ng-if="$index==1"></i>
                <i class="icon ion-ribbon-a bronze-medal-icon" ng-if="$index==2"></i>
              </h1>
            </div>

            <font size="4" item-positive ng-if="checkEmail==student.email">Me</font>

            <font size="4" ng-if="checkEmail!=student.email">{{student.name}}</font></br>
            <font size="2" color="grey">{{student.steps}} Steps</font>

          </a>

          <a class="item item-avatar avoid-clicks" ng-repeat="c in clan" ng-if="selected=='clan' && adventureOn!='0'">
            <img data-ng-src="data:image/png;base64,{{c.clanPicture}}">

            <div class="moveRight">
              <h1 style="font-family: rounded_eleganceregular, Calibri, Georgia, serif">{{c.rank}}
                &nbsp
                <i class="icon ion-trophy gold-medal-icon" ng-if="$index==0"></i>
                <i class="icon ion-ribbon-a silver-medal-icon" ng-if="$index==1"></i>
                <i class="icon ion-ribbon-a bronze-medal-icon" ng-if="$index==2"></i>
              </h1>
            </div>

              <font size="4">{{c.clan}}</font></br>
              <font size="2" color="blue">Total Missions Completed: {{c.missionsCompleted}}</font>
          </a>


          <div style="padding-left: 20px; padding-right: 20px; padding-top: 40%; padding-bottom: 45%;"
              align="center" ng-if="selected=='clan' && adventureOn=='0'">
                  <font size="50px" color="#000"><i class="icon ion-flag"></i></font>
                  <font color="grey"><h4>There is no ongoing adventure at the moment. Keep a look out on the news feed for further updates!</h4></font>
          </div>

      </ul>

    </ion-content>
</ion-view>
