<ion-view id="leagueDetails" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>League Details</b></span>
    </ion-nav-title>

    <ion-content>

		<div class="card">
		  <div class="item item-divider">
		    <center><b>Beginner</b></center>
		  </div>
		  <div class="item item-text-wrap">
		  	<center><img src="img/tier/beginner.png" height="100" width="100"></center>
		    <center>This is where you start off!</center>
		  </div>
		</div>

		<div class="card">
		  <div class="item item-divider">
		    <center><b>Bronze</b></center>
		  </div>
		  <div class="item item-text-wrap">
		  	<center><img src="img/tier/bronze.png" height="100" width="100"></center>
		    <center>Accumulate a total of 20,000 steps to be in the Bronze League!</center>
		  </div>
		</div>

		<div class="card">
		  <div class="item item-divider">
		    <center><b>Silver</b></center>
		  </div>
		  <div class="item item-text-wrap">
		  	<center><img src="img/tier/silver.png" height="100" width="100"></center>
		    <center>Accumulate a total of 50,000 Steps to be in the Silver League!</center>
		  </div>
		</div>

		<div class="card">
		  <div class="item item-divider">
		    <center><b>Gold</b></center>
		  </div>
		  <div class="item item-text-wrap">
		  	<center><img src="img/tier/gold.png" height="100" width="100"></center>
		    <center>Accumulate a total of 100,000 Steps to be in the Gold League!</center>
		  </div>
		</div>

		<div class="card">
		  <div class="item item-divider">
		    <center><b>Platinum</b></center>
		  </div>
		  <div class="item item-text-wrap">
		  	 <center><img src="img/tier/platinum.png" height="100" width="100"></center>
		     <center>Accumulate a total of 500,000 Steps to be in the Platinum League!</center>
		  </div>
		</div>

    </ion-content>
</ion-view>