<ion-view title="Login" hide-nav-bar="true" id="login" class="login-background ">
    <ion-content padding="true" class="manual-ios-statusbar-padding scroll-content" scroll="true">
        <div>
            <div class="spacer " style="width: 300px; height: 52px;"></div>
            <div class="">
                <img src="img/fitNexx6_logo_xsmall.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 21px;"></div>
            <form id="login-form10" class="list " ng-app="app.controllers" ng-controller="loginCtrl">
                <ion-list id="login-list11" class=" ">
                    <label class="item item-input " id="login-input14">
                        <input type="text" placeholder="Email" ng-model="email">
                    </label>
                    <label class="item item-input " id="login-input20">
                        <input type="password" placeholder="Password" ng-model="passWord">
                    </label>

                </ion-list>
                <a id="login-button11" class=" button button-balanced  button-block " ng-click="login()">Login</a>
                <a ui-sref="register" id="login-button18" class=" button button-dark  button-block button-clear ">Register</a>
                <a ui-sref="forgetPassword" id="login-button23" class=" button button-dark button-block button-clear ">Forget Password</a>

            </form>
        </div>
    </ion-content>
</ion-view>