<ion-view id="missionDetails" class=" ">
  <ion-nav-title>
    <span style="font-size:110%"><b>Mission Details</b></span>
  </ion-nav-title>

  <ion-nav-buttons side="left"></ion-nav-buttons>

  <ion-content>
      <!--This view is for mission details for CURRENT missions. MissionType=Steps and completed=0 !-->
	  <div class="list list-inset" ng-if="type=='Steps'">
	    <div class="item item-text-wrap">
			<center>
				<font size="6"><b>
					&nbsp{{type}} Mission&nbsp
				</b></font>
			</center>
			</br><p>This mission requires you to walk <b>{{noOfSteps}}</b> steps in a day. Upon completion of the Mission, you will be awarded additional <b>{{points}}</b> points.</p>
	    	</br><b>Mission Started on : {{dateStarted}}</b>
	    </div>

	  <button class="button ion-ios-checkmark button-balanced button-block"
	                ng-click="completeMission(missionAcceptID, missionID, type, points)" /> Complete Mission</button>
	  <button class="button ion-close-circled button-dark button-block"
	                ng-click="abortMission(missionAcceptID)"/> Abort Mission</button>

      </div>

      <!--This view is for mission details for Current missions. MissionType=Checkpoints and completed=0 !-->
	  <div class="list list-inset" ng-if="type=='Checkpoint'">

	    <div class="item item-text-wrap">
			<center>
				<font size="6"><b>
					&nbsp{{type}} Mission&nbsp
				</b></font>
			</center>

		    </br><p>This mission requires you to travel to the designated Checkpoints. Upon completion of the Mission, you will be awarded additional <b>{{points}}</b> points.</p></br>

		    <!--<ion-list>
		    	<input type="ion-checkbox" checked="true">test</ion-checkbox>
			 	<ion-checkbox checked="true" ng-repeat="cp in checkpoints">{{cp}}</ion-checkbox>
			</ion-list>-->
		    </br><b>Remaining Checkpoints</b> <b ng-repeat="cp in checkpoints" ><pre>Checkpoint {{cp}}</pre></b>
		    </br><b>Mission Started on : {{dateStarted}}</b>

	    </div>

	    <button class="button ion-ios-checkmark button-balanced button-block"
	                ng-click="completeMission(missionAcceptID, missionID, type, points)" /> Complete Mission</button>
	  	<button class="button ion-close-circled button-dark button-block"
	                ng-click="abortMission(missionAcceptID)"/> Abort Mission</button>

      </div>

      <!--This view is for mission details for Current missions. MissionType=Special and completed=0 !-->
	  <div class="list list-inset" ng-if="type=='Special'">

	    <div class="item item-text-wrap">
			<center>
				<font size="6"><b>
					&nbsp{{type}} Mission&nbsp
				</b></font>
			</center>

		    </br><p>This mission requires you to outperform your peers in your Sports and Wellness course as well as NAFA. Overall performace will be determined by your Sports and Wellness Instructor. Top 3 students will earned a QR code that will earn them <b>{{points}}</b> points.</p></br>

		    <p>P.S QR Code can only be redeemed once.</p>

		    </br><b>Mission Started on : {{dateStarted}}</b>
	    </div>

	    <button class="button ion-ios-checkmark button-balanced button-block"
	                ng-click="completeMission(missionAcceptID, missionID, type, points)" /> Complete Mission</button>
	  	<button class="button ion-close-circled button-dark button-block"
	                ng-click="abortMission(missionAcceptID)"/> Abort Mission</button>

      </div>

  </ion-content>
</ion-view>
