<ion-view id="missions" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Missions</b></span>
    </ion-nav-title>

    <!--<style>

      i.ion-flag {
        color: #000;
        font-size: 50px;
      }

    </style>-->
    <walkthrough
            wid="Demo4"
            is-round=true
            walkthrough-type="tip"
            focus-element-selector="focus-item"
            icon="img/walkthrough/missions.png"
            has-backdrop="true"
            has-glow="true"
            force-caption-location="TOP"
            main-caption="Use the scan QRCode button at the bottom right to take on Missions."
            is-active="tutorialActive"
            use-button=true>
         </walkthrough>


    <div class="float-button" ng-controller='missionsCtrl' on-touch="scanBarcode()">
       <span class="height-fix">
          <a class="content">
            <i class="ion-ios-camera"> </i>
          </a>
        </span>
    </div>

    <ion-content padding="true" scroll="true" class="has-header" ng-app="app.controllers">
          <!--div class="applyPadding"></div-->
        <!--<div id="missions-button-bar1" class=" button-bar "></div>
        <div class="">
            <center>
                <button class="button round-button icon ion-ios-camera button-energized "  on-touch="scanBarcode()">  Scan to start a mission!</button>
            </center>
            &nbsp
        </div>-->

          <div class="button-bar">
            <button ng-click="tab = 1" class="button button-stable"
            ng-class="{'button-positive': tab === 1}">Available</button>

            <button ng-click="tab = 2" class="button button-stable"
            ng-class="{'button-positive': tab === 2}">In-Progress</button>
          </div>
          <br />
          <div ng-show="tab === 2">

             <center>GPS must be turned on to complete checkpoint missions</center>

            <div class="list card" ng-repeat="mission in acceptedMissions" ng-click='missionDetails(mission.missionType,mission.description,mission.points,mission.dateTimeAccepted,mission.missionID,mission.acceptID,mission.steps)'>
              <div class="item item-button-right.bottom item-stable">
                <font size="5"><center><b>{{mission.missionType}} Mission</b></center></font>
                <div class="item-text-wrap"><font size="3" color="grey"><center>{{mission.description}}</center></font></div>
                <font size="3" color="#FFC638"><center>{{mission.points}} Points</center></font>

              </div>
            </div>

              <div style="padding-left: 20px; padding-right: 20px; padding-top: 40%; padding-bottom: 45%;"
              align="center" ng-if="acceptedSize==0">
                  <font size="50px" color="#000"><i class="icon ion-flag"></i></font>
                  <font color="grey"><h4>There is no in progress mission currently</h4></font>
                  <button class="button button-positive" ng-click="missions()">Check Mission</button>
              </div>

            </div>

          </div>


          <div ng-show="tab === 1">

            <h3><b><center>Today's Mission Count: {{missionCount.currentDay}}</b></h3></center>
            <center>These are some of the missions that you can take on</center>

            <div class="list card" ng-repeat="mission in availableMissions" ng-click='directMap(mission.blk)'>
                <div class="item item-button-right.bottom item-stable">
                  <div class="moveLeft">
                    <font size="10" color="#9A0000"><i class="icon ion-ios-location" ng-click='directMap(mission.blk)'></i></font>
                  </div>

                  <!--<h3>Checkpoint ID : {{mission.checkpointID}}</h3>-->
                  <!--<h3>Building ID : {{mission.blk}}</h3>-->
                  <center><h2><b>{{mission.name}}</b></h2></center></br>
                  <font color="grey"><center><h3>{{mission.locationDetails}}</h3></center></font>

                </div>
            </div>

          </div>

    </ion-content>
</ion-view>
