<ion-view id="pageHome" class=" ">
    <ion-nav-title>
        <div style="margin-top: 2px;font-size:120%;"><b>My Steps</b></div>
    </ion-nav-title>

    <ion-content padding="false" class="has-header" scroll="true">


	    <ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefreshAndroid()">
	  	</ion-refresher>

	  	<!--<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefreshIOS()">
	  	</ion-refresher>-->

        <div class="list card " id="home-card23" ng-click="directLeagueDetails()">
            <ion-item class="item-thumbnail-left item-button-right item-stable" id="home-list-item10">
              <img data-ng-src="{{tierPic}}" height="180" width="180"/>
              <p><h2 style="font-family: rounded_eleganceregular, Calibri, Georgia, serif"><b>{{name}}</b></h2></p>
              <h3 style="line-height: 120%; font-family: rounded_eleganceregular, Calibri, serif">{{tier}} League</h3>
              <h3 style="line-height: 120%; font-family: rounded_eleganceregular, Calibri, serif" ng-if="clanName!='N/A'">You're in {{clanName}}</h3>

			  <progressbar class="progress-striped active" animate="true" max="amtToNextTier" value="amtOfSteps" type="success"><i><span amtOfSteps="{{amtOfSteps}}" duration="1" count-from="0"></span><span style="color:black">{{progressToNextTier}}</span></i></progressbar>
            </ion-item>
        </div>

        <walkthrough
                wid="Demo4"
                is-round=true
                walkthrough-type="tip"
                focus-element-selector="focus-item"
                icon="img/walkthrough/home.png"
                has-backdrop="true"
                has-glow="true"
                force-caption-location="BOTTOM"
                main-caption="Update info at your Profile first"
                is-active="tutorialActive"
                use-button=true>
             </walkthrough>

		<!-- <p align="center">
			<center><h3><i class="icon-big ion-android-walk human-icon"></i><b>&nbsp Steps Taken Today<br/></h3>Take 10,000 steps everyday to keep fit!</b></center>
		</p> -->

<center>
        <button class="button button-outline button-positive " ng-click="viewHistory()"><b>View My Steps History</b></button>
</center>
</br>

		<div class="set-size charts-container">
			<div class="pie-wrapper progress-{{progress}}">
				<span class="label"><span class="smaller" >{{steps}}</span></span>
			<div class="pie">
				<div class="left-side half-circle"></div>
				<div class="right-side half-circle"></div>
			</div>
			<div class="shadow"></div>
		</div>
		</div>


    <p><center><i class=""></i><b>&nbspAim for 10,000 steps everyday!</b></center></p>

		<p><center><h3><i class="icon-small ion-ios-flame fire-icon"></i><b>&nbsp{{caloriesBurned}} Kcal</b> &nbsp&nbsp
                <i class="icon-small ion-android-walk human-icon"></i><b>&nbsp{{distance}}m</b></h3></center></p>

    </ion-content>
</ion-view>
