<ion-view id="newsFeed" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>NewsFeed</b></span>
    </ion-nav-title>

    <ion-content>

      <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
      </ion-refresher>

      <walkthrough
            wid="Demo4"
            is-round=true
            walkthrough-type="tip"
            focus-element-selector="focus-item"
            icon="img/walkthrough/walk.png"
            has-backdrop="true"
            has-glow="true"
            force-caption-location="BOTTOM"
            main-caption="Get news updates here!"
            is-active="tutorialActive"
            use-button=true>
         </walkthrough>

      <div class="list card" ng-repeat="n in news">

        <div class="item item-divider">
          <b><h2 style="font-family: rounded_eleganceregular, Calibri, Georgia, serif">{{n.subject}}</h2></b>
          <p>{{n.date}}</p>
          <p>{{n.email}}</p>
        </div>
        <div class="item item-body">
          <img class="news-image" data-ng-src="data:image/png;base64,{{n.newsPicture}}">
          <p style="font-family: Calibri, Georgia, serif">
            {{n.content}}
          </p>
        </div>
      </div>
    </ion-content>
</ion-view>
