<ion-view id="profile" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Profile</b></span>
    </ion-nav-title>

    <ion-content padding="true" >

        <form id="profile-form9" class="list " ng-app="app.controllers" ng-controller="profileCtrl">

          <label class="item item-view" id="profile-input22" style="text-align:center">
                <span class="input-label"></span>
                <img data-ng-src="{{profilePic}}" height="120" width="120" />
          </label>

			<label class="item item-view " id="profile-input15">
				<span class="input-label ion-ios-calendar-outline"> &nbsp : {{DOB}}</span>
            </label>

            <label class="item item-view " id="profile-input18">
                <span class="input-label ion-arrow-graph-up-right"> &nbsp : {{height}}  Metres</span>
            </label>

            <label class="item item-view " id="profile-input19">
                <span class="input-label ion-speedometer"> &nbsp : {{weight}}  K.G.</span>
            </label>

            <label class="item item-view " id="profile-input20">

                <span style="float:right;" ng-if="BMI<=18.50">Underweight</span>
                <span style="float:right;" ng-if="BMI>18.50 && BMI<=24.90">Healthy</span>
                <span style="float:right;" ng-if="BMI>24.90 && BMI<=29.9">Overweight</span>
                <span style="float:right;" ng-if="BMI>=30">Obese</span>
                <span class="input-label ion-tshirt-outline" style="text-align:left;"> &nbsp : {{BMI}} B.M.I</span>

            </label>



		  <button id="profile-button12" style="border-radius:-6px -6px -6px -6px;" class=" button button-positive  button-block button-outline icon ion-clipboard " ng-click="editProfile()"> &nbsp Update Profile </button>
        </form>

    </ion-content>
</ion-view>
