<ion-view id="register" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Register</b></span>
    </ion-nav-title>

    <ion-nav-buttons side="left"></ion-nav-buttons>
    <ion-content padding="true" scroll="true" class="has-header">

        <form id="register-form3" ng-app="app.controllers" ng-controller="registerCtrl">
            <!--<div class="spacer" style="width: 300px; height: 24px;"></div>-->
            <!--<ion-list id="register-list3" class=" " style="font-size:20px; text-align: left;">-->
              <div class="list">

                <label class="item item-input item-stacked-label" id="register-input8">
                    <span class="input-label ion-ios-person-outline"> Name</span>
                    <input type="text" placeholder="e.g. John" ng-model='name'>
                </label>

                <label class="item item-input item-stacked-label item-select">
                    <span class="input-label icon ion-transgender"> Gender (Optional)</span>
                    <br /><select ng-model='gender'>
                        <option value="" disabled selected>Select one</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label" id="register-input9">
                    <span class="input-label ion-ios-email-outline"> Email</span>
                    <input type="text" placeholder="john@np.edu.sg" ng-model='email'>
                </label>
                <label class="item item-input item-stacked-label" id="register-input10">
                    <span class="input-label ion-ios-unlocked"> Password</span>
                    <input type="password" placeholder="8 or more alphanumeric" ng-model='passWord'>
                </label>
                <label class="item item-input item-stacked-label" id="register-input10">
                    <span class="input-label ion-ios-locked"> Password</span>
                    <input type="password" placeholder="Retype password" ng-model='passWord2'>
                </label>
                <label class="item item-input item-stacked-label" id="register-input19">
                   <span class="input-label ion-ios-calendar-outline"> Date Of Birth (Optional)</span>
                   <input type="date" value="Enter date" displayFormat="YYYY MM DD"  ng-model="DOB" >
               </label>
                <label class="item item-input item-stacked-label item-select">
                <div class="input-label ion-university"> Faculty</div>
                <br />
                <select ng-model='faculty'>
                    <option value="" disabled selected>Select a faculty</option>
                    <option>Others</option>
                    <option>Interdisciplinary Studies</option>
                    <option>Life Sciences & Chemical Technology</option>
                    <option>InfoComm Technology</option>
                    <option>Humanities & Social Sciences</option>
                    <option>Health Sciences</option>
                    <option>Film & Media Studies</option>
                    <option>Engineering</option>
                    <option>Design & Environment</option>
                    <option>Business & Accountancy</option>
                  </select>
                </label>
          </div>
            <a id="register-button5" class=" button button-positive  button-block " ng-click="register()">Sign up</a>
        </form>
    </ion-content>
</ion-view>
