<ion-view id="reward" class=" ">
    <ion-nav-title>
        <span style="font-size:110%"><b>Reward</b></span>
    </ion-nav-title>

    <ion-content padding="false" class="has-header">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

      <div>

        <walkthrough
            wid="Demo4"
            is-round=true
            walkthrough-type="tip"
            focus-element-selector="focus-item"
            icon="img/walkthrough/rewards.png"
            has-backdrop="true"
            has-glow="true"
            force-caption-location="BOTTOM"
            main-caption="Head to SDAR to redeem rewards!"
            is-active="tutorialActive"
            use-button=true>
         </walkthrough>




        <ion-list class="manual-list-fullwidth">
            <ion-item class="item-avatar item-stable" id="menu-list-item16">
              <img class="img-center" src="img/coin.png" id="focus-item">
                <p style="font-size:150%"><b>{{points}}</b></p>
            </ion-item>
        </ion-list>
                <div class="list card" ng-repeat="reward in rewards">
                    <div class="item item-thumbnail-left item-button-right.bottom item-stable">
                        <img data-ng-src="data:image/png;base64,{{reward.productPic}}">
                        <div style="font-family: rounded_eleganceregular, Calibri, Georgia, serif">{{reward.description}}</div>
                        <div style="font-family: Calibri, Georgia, serif">{{reward.price}} points</div>
                        <button class="button icon-right ion-ios-checkmark button-positive button-small"
                        ng-click="showPopup(reward.rewardID, reward.price, reward.description)"
                        ng-disabled='reward.price > {{points}}'/>Redeem</button>
                      </div>
                </div>
        </div>


    </ion-content>
</ion-view>
