<ion-view title="Tabs Controller" id="page1" class="tabs-background-positive tabs-color-light">
    <ion-tabs class="tabs-icon-top" id="tabsController-tabs1">

      <ion-tab title="Home" icon="ion-android-home" href="#/tabs/home" id="tabsController-tab20" class=" ">
          <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <!-- <ion-tab title="Progress" icon="ion-podium" href="#/tabs/history" id="tabsController-tabHistory" class=" " hidden="true">
          <ion-nav-view name="history-tab"></ion-nav-view>
      </ion-tab> -->

      <ion-tab title="Leaderboard" icon="ion-trophy" href="#/tabs/lb" id="tabsController-tab11" class=" ">
          <ion-nav-view name="rank-tab"></ion-nav-view>
      </ion-tab>

        <ion-tab title="Missions" icon="ion-flag" href="#/tabs/missions" id="tabsController-tab19" class=" ">
            <ion-nav-view name="missions-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Rewards" icon="ion-ribbon-b" href="#/tabs/rewards" id="tabsController-tab14" class=" ">
            <ion-nav-view name="reward-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="News Feed" icon="ion-social-rss" href="#/tabs/news" id="tabsController-tab15">
            <ion-nav-view name="newsfeed-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Profile" icon="ion-flag" href="#/tabs/profile" class=" " hidden="true">
            <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Map" icon="ion-flag" href="#/tabs/map" class=" " hidden="true">
            <ion-nav-view name="map-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Change Password" icon="ion-flag" href="#/tabs/changepw" class=" " hidden="true">
            <ion-nav-view name="changepw-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Feedback" icon="ion-flag" href="#/tabs/feedback" class=" " hidden="true">
            <ion-nav-view name="feedback-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About Us" icon="ion-person-stalker" href="#/tabs/aboutus" class=" " hidden="true">
            <ion-nav-view name="aboutus-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
