.gold-medal-icon {
  color : #D9D919;
}

.silver-medal-icon {
  color : #E6E8FA;
}

.bronze-medal-icon {
  color : #A67D3D;
}

.moveRight {
  float : right;
}

.avoid-clicks {
  pointer-events: none;
}