/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive: #4C7BFF !default;
$balanced: #4C7BFF !default;
$dark: black !default;
$energized: #131F40 !default;
//Bottom Nav Tabs
$tabs-height: 46px;
$tabs-text-font-size: 22px !default;
$tabs-icon-size: 25px !default;
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
//Import Fonts
@font-face {
    font-family: 'walkway_boldregular';
    src: url('../lib/ionic/fonts/walkway_bold-webfont.woff2') format('woff2'), url('../lib/ionic/fonts/walkway_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'rounded_eleganceregular';
//     src: url('../lib/ionic/fonts/rounded_elegance-webfont.woff2') format('woff2'), url('../lib/ionic/fonts/rounded_elegance-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }


@font-face {
	font-family: 'rounded_eleganceregular';
	src: url('../lib/ionic/fonts/RoundedElegance-Regular.eot');
	src: url('../lib/ionic/fonts/RoundedElegance-Regular.eot?#iefix') format('embedded-opentype'),
		url('../lib/ionic/fonts/RoundedElegance-Regular.woff2') format('woff2'),
		url('../lib/ionic/fonts/RoundedElegance-Regular.woff') format('woff'),
		url('../lib/ionic/fonts/RoundedElegance-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


* {
    font-family: 'rounded_eleganceregular';
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.tab-item,input,button,select,textarea {
	font-family: inherit !important;
}


input,
input[placeholder] {
    font-family: rounded_eleganceregular, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    background: #FFFFFF;
    border-style: none none solid none;
    border-color: transparent;
}

.login-background {
    background: url(../img/splash_faded.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

button.round-button {
    padding: 10px 40px;
    border-radius: 35px;
}

.news-image {
    height: 160px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: horizontal;
  -moz-flex-direction: horizontal;
  -ms-flex-direction: horizontal;
  flex-direction: horizontal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: #444;
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 50px;
  border-style: solid;
  border-top-width: 1px;
  background-size: 0;
  line-height: 46px; }
  .tabs .tab-item .badge {
    background-color: #444;
    color: #f8f8f8; }
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .tabs {
      padding-top: 6px;
      border-top: none !important;
      border-bottom: none;
      background-position: top;
      background-size: 100% 1px;
      background-repeat: no-repeat; } }
      
.tabs-color-light .tab-item {
  color: #fff;
   }
  .tabs-color-light .tab-item .badge {
    opacity: 0.4; }
  .tabs-color-light .tab-item.tab-item-active, .tabs-color-light .tab-item.active, .tabs-color-light .tab-item.activated {
    color: #000;
    border: 0 solid #fff; }
    .tabs-color-light .tab-item.tab-item-active .badge, .tabs-color-light .tab-item.active .badge, .tabs-color-light .tab-item.activated .badge {
      opacity: 1; }

// Put all changes before this line
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
