/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2016, 3:28:09 PM
    Author     : mervyn.lee.2014
*/

@charset "UTF-8";

@font-face {
  font-family: "footsteps";
  src:url("../fonts/footsteps.eot");
  src:url("../fonts/footsteps.eot?#iefix") format("embedded-opentype"),
    url("../fonts/footsteps.woff") format("woff"),
    url("../fonts/footsteps.ttf") format("truetype"),
    url("../fonts/footsteps.svg#footsteps") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "footsteps" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "footsteps" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-footsteps:before {
  content: "\64";  
  font-size: 4em;
}
